* {
    margin: 0%;
    padding: 0%;
}

body {
    margin: auto;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 39px;
}

#ColorBox {
    border: 4px solid gray;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
}

#ColorCode {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
#CopyBtn {
    margin-top: 50px;
    margin-left: 580px;
    border: none;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 128, 0, 0.848);
    cursor: pointer;
    transition: 0.6s;
}
#CopyBtn:hover {
    background-color: black;
    color: white;
}

button {
    margin-left: 590px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
}