* {
    margin: 0%;
    padding: 0%;
}

#container {
    border: 1px solid red;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}
#counter {
    font-size: 35px;

}

button {
    padding: 10px 20px;
    margin: 20px;
    font-size: 30px;
}
button:disabled {
    opacity: 0.5;
    cursor:not-allowed;
}